
<h3><%= link_to "New Picture", new_picture_path%></h3> 
 
<% @pictures.each do |picture| %>
	
	<div class="picture_card">
		<%= link_to picture_url(picture.id) do %>
			<h3><%= picture.title  %></h3>
			<h4><img src="<%= picture.url %>"></h4>
			<h4><%= picture.caption %> </h4>
			<div class="pull-right">
				<p><%= link_to "Edit", edit_picture_path(picture.id) %>| <%= link_to "Delete", picture_url(picture.id),  method: "delete" %></p>
			</div>
		<% end %>	
	</div>	
	
<% end %>

