<%= link_to "Back", root_path, class: "pull-left"  %>
<h1>Add a Pic</h1>

<%= form_for @picture do |f| %>

	<p><%= f.label :title %><%= f.text_field :title %></p>
	<p><%= f.label :caption %><%= f.text_field :caption %></p>
	<p><%= f.label :url %><%= f.text_field :url %></p>
	<%= f.submit 'Submit', :class => 'alert' %>
<% end %>