<h1 class="pull-left"><%= link_to "Picture App", root_path %></h1>

<div class="pull-right">
	<% if user_signed_in? %>
		<h3><%= link_to "New Picture", new_picture_path%> | <%= link_to "Log Out", destroy_user_session_path, :method => :delete  %></h3>	
	<% else %>
	<h3><%= link_to "Sign Up", new_user_registration_path %> | <%= link_to "Sign In", new_user_session_path %></h3>
	<% end %>
</div>